<button uiBigButton class="flex w-full flex-row overflow-hidden text-left" (click)="enqueue()">
  <div class="flex w-full gap-3 p-3">
    <div>
      <h2 uiH2 class="line-clamp-1 leading-tight font-medium">{{ track.title }}</h2>
      <div class="flex flex-row gap-4">
        <div class="line-clamp-1 text-sm text-gray-400">{{ track.artist }}</div>

        @if (track.durationMs) {
          <div class="mt-1 text-xs text-gray-500">
            {{ track.durationMs }}
          </div>
        }
        @if (track.year) {
          <div class="mt-1 text-xs text-gray-500">
            {{ track.year }}
          </div>
        }
      </div>
    </div>
    <div class="flex grow flex-row justify-end">
      @for (level of [1, 2, 3, 4, 5]; track $index) {
        <app-icon
          [name]="track.rating >= level ? 'star' : 'starOutline'"
          [class.text-tokyo-text-subtle]="track.rating < level"
          [class.text-tokyo-text-muted]="track.rating >= level"
          [class.tokyo-glow-cyan]="track.rating >= level"
        />
      }
    </div>
  </div>
</button>
