<button
  uiBigButton
  class="flex w-full flex-row gap-3 overflow-hidden"
  [attr.aria-selected]="selected"
  [attr.data-selected]="selected"
>
  <div class="aspect-square bg-gray-800">
    @if (album.coverUrl && !imageFailed) {
      <img
        [src]="album.coverUrl"
        [alt]="album.title"
        class="aspect-square w-24 object-cover"
        loading="lazy"
        (error)="onImageError()"
      />
    } @else {
      <div class="grid aspect-square w-24 place-items-center text-sm text-gray-400">No cover</div>
    }
  </div>

  <div class="py-2 text-left">
    <h2
      uiH2
      [attr.data-selected]="selected"
      class="text-tokyo-text-text data-[selected=true]:text-tokyo-accent-orange line-clamp-1 leading-tight data-[selected=true]:text-3xl"
    >
      {{ album.title }}
    </h2>
    <div class="text-tokyo-text-muted line-clamp-1 text-sm">{{ album.artist }}</div>

    @if (album.year) {
      <div class="mt-1 text-xs text-gray-500">
        {{ album.year }}
      </div>
    }
  </div>
</button>
