.no-tasks-background {
  background-image: url('/no-tasks.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tasks-column {
  --tasks-column-image: none;
  background-image: var(--tasks-column-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tasks-column > * {
  position: relative;
  z-index: 1;
}

.tasks-column-todo {
  --tasks-column-image: url('/tasks-todo.png');
}

.tasks-column-doing {
  --tasks-column-image: url('/tasks-doing.png');
}

.tasks-column-later {
  --tasks-column-image: url('/tasks-later.png');
}

.tasks-column-done {
  --tasks-column-image: url('/tasks-done.png');
}

.tasks-column-cancelled {
  --tasks-column-image: url('/tasks-cancelled.png');
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*
.tasks-column-scroll-container::before,
.tasks-column-scroll-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 36px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
*/
.tasks-column-scroll-container::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color-tokyo-accent-cyan) 85%, transparent),
    transparent
  );
  box-shadow: 0 14px 22px -18px var(--color-tokyo-accent-cyan);
}

.tasks-column-scroll-container::after {
  bottom: 0px;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--color-tokyo-accent-cyan) 85%, transparent),
    transparent
  );
  box-shadow: 0 -14px 22px -18px var(--color-tokyo-accent-cyan);
}

.tasks-column-can-scroll-up::before {
  opacity: 0.9;
}

.tasks-column-can-scroll-down::after {
  opacity: 0.9;
}
