<div class="relative flex h-full flex-col gap-4">
  <div class="grid h-full flex-1 grid-rows-[auto_1fr] gap-2">
    <div
      class="grid grid-cols-7 gap-2 text-center text-xs tracking-[0.18em] text-slate-400 uppercase"
    >
      @for (day of dayNames; track day) {
        <div class="rounded-lg border border-white/10 bg-white/5 px-2 py-1">{{ day }}</div>
      }
    </div>

    <div class="grid flex-1 grid-cols-7 gap-2">
      @for (day of days(); track $index) {
        @if (day) {
          <a
            class="group min-h-[96px] overflow-hidden rounded-sm border border-white/50 bg-gradient-to-b from-white/5 to-white/0 bg-cover bg-top bg-no-repeat text-sm text-slate-100 transition hover:border-white/30 hover:bg-white/5 focus-visible:ring-2 focus-visible:ring-cyan-400/70 focus-visible:outline-none"
            [class.border-white/50]="!isToday(day)"
            [class.border-tokyo-accent-orange]="isToday(day)"
            [style.backgroundImage]="
              dayBackground(day)
                ? 'repeating-linear-gradient(180deg, rgb(0 0 0 / 0.2) 0px, rgb(0 0 0 / 0.3) 1px, rgb(0 0 0 / 0.2) 3px, rgb(0 0 0 /0.3) 6px),radial-gradient(circle at 5% 5%,rgb(0 0 0 / 1),rgb(0 0 0 / 0.1) 30%),url(' +
                  dayBackground(day) +
                  ')'
                : null
            "
            [routerLink]="['/notes', year(), month(), day]"
          >
            <div class="flex w-full flex-row justify-between px-2 py-1">
              <div class="text-right text-lg font-semibold text-slate-300">{{ day }}</div>
            </div>
            @if (scheduledEntriesForDay(day).length > 0 && !dayBackground(day)) {
              <div class="flex flex-col px-2 pt-2">
                @for (entry of scheduledEntriesForDay(day); track entry.id) {
                  <app-calendar-entry
                    [entry]="entry"
                    [showLabel]="scheduledEntriesForDay(day).length === 1"
                  />
                }
              </div>
            }
          </a>
        } @else {
          <div
            class="min-h-[96px] rounded-xl border border-white/5 bg-gradient-to-b from-white/5 to-white/0 p-3 text-sm text-slate-500"
          >
            <div class="text-right text-xs text-slate-600">–</div>
          </div>
        }
      }
    </div>
  </div>
</div>
