@if (tracks$ | async; as tracks) {
  @if (tracks.length > 0) {
    <div
      cdkDropList
      class="@container ml-2 block flex h-full flex-col gap-2"
      [cdkDropListData]="tracks"
      (cdkDropListDropped)="drop($event)"
    >
      @for (track of tracks; track track.id) {
        <div cdkDrag [cdkDragData]="track">
          <app-playlist-track
            [track]="track"
            [removable]="track.trackId !== null"
            (remove)="removeTrack(track)"
          />
        </div>
      }
    </div>
  } @else {
    <div class="empty-state relative h-full overflow-hidden">
      <img
        class="empty-state-image absolute inset-0 object-cover opacity-50"
        ngSrc="megablast.webp"
        alt=""
        aria-hidden="true"
        fill
      />
      <div class="empty-state-ascii relative z-10 flex h-full w-full items-center justify-center">
        <pre
          class="empty-state-art font-vt323 text-tokyo-accent-green text-xs leading-none opacity-25 text-shadow-lg"
        >
          ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠶⣦⣤⡀⠀⢸⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣶⣾⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣷⣶⣿⣧⣠⣴⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢀⣤⣶⡶⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣴⣿⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⣦⠀⠀
⢸⣿⣿⣿⣦⡀⠀⠀⠀⠀⣀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠛⣿⣿⣿⣿⣿⣿⣷⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⡀
⢸⣿⣿⣿⣿⣿⣿⣶⣶⣿⣿⣿⣿⣿⣿⣿⠿⢻⣿⠟⠻⠿⠻⠋⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠘⢿⡿⠉⢿⣿⣿⣿⣿⣶⣄⣀⠀⠀⠀⠀⣠⣿⣿⣧
⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠈⠁⠀⠀⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣿⣿⠿⠋⠀⢿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇
⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠛⠛⠛⠛⠛⠉⠁⠀⠀⠀⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏
⠀⠀⣦⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠀
⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣋⠀⠀
⠀⠀⠀⠘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀
⠀⠀⠀⠀⠀⠛⢿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣇⠹⡄⠀⣀⠤⠤⢄⡀⠀⢠⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡄⠀⢀⠠⠤⣀⠀⠀⣼⢋⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠻⢿⣿⣿⣿⣿⡄⢧⠀⠀⠀⠀⠀⠈⣒⣾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣷⠊⠁⠀⠀⠀⠀⢰⡏⣾⣿⣿⣿⠿⠛⠁⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⢿⣷⠸⡄⠀⠀⠀⠰⣿⣅⠣⠽⣢⣀⠀⠀⢠⠀⡎⠀⠀⢀⡠⢞⡩⢉⣶⠄⠀⠀⠀⡾⣸⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣇⢷⠀⠀⠀⠀⠙⢿⣿⡿⠟⠋⠉⠉⣓⡒⠈⠒⠚⠛⠻⠶⠶⣿⡏⠀⠀⠀⢸⢷⡟⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣼⡄⠀⠀⠀⢀⣼⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣷⠀⠀⠀⣾⡾⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠀⠀⠀⣰⡟⠁⠀⠀⠀⣠⣀⣀⠀⠀⠀⣀⣀⡀⠀⠀⠀⠀⠘⢷⡀⠀⢿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⢿⡇⠀⠀⠀⠀⢿⣿⣿⣻⣿⣿⣿⡿⠇⠀⠀⠀⠀⢀⣼⡗⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠈⠒⢤⣀⠀⠀⠀⠈⠛⠛⠛⠁⠀⠀⢀⣀⡤⠖⠋⠉⠀⢀⡾⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳⣄⡀⠀⠀⠀⠀⠙⢿⣿⣶⣶⣦⣤⣶⣶⣾⣿⡟⠁⠀⠀⢀⣠⠴⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠲⢤⡀⠀⠀⠀⢻⣿⣯⣁⣀⣀⣿⣿⠏⠀⠀⣠⠞⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⠀⢫⣽⣻⣿⣿⡿⠃⠀⢠⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠣⡀⠀⠈⠉⠉⠉⠀⢀⡴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠲⠤⣀⣀⣠⠴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        </pre>
        <pre
          class="empty-state-balloon font-vt323 text-[16px] leading-none text-red-400 text-shadow-lg"
        >
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⣤⣤⣤⣄⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢀⣤⣶⡟⢿⡹⢧⣻⣌⠿⣜⣱⢻⡛⣷⢦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢀⣴⢿⡙⢶⢫⢧⣙⢯⠳⣞⡽⣪⢗⡯⣝⢦⣋⠿⣷⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣠⡿⡜⢦⡛⢬⢃⠮⢜⡧⣛⡼⣱⢻⣎⢷⡹⣎⢷⣫⡽⢿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣰⡟⡶⣙⣧⢹⡐⣎⣼⢬⣕⣧⢳⡧⠳⢌⣷⡙⣎⡳⣭⢟⣯⢿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⣿⠼⡱⡍⢶⢩⠹⡿⢿⠾⣺⢿⡿⣿⣿⣿⣷⡘⢶⡹⣎⠿⣼⢻⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢸⣷⢍⡳⢯⢎⡵⣷⣗⣎⣶⣿⠶⣶⣴⣷⡿⣶⠋⢦⢹⡏⣿⡱⣯⢿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢸⢞⣪⡕⣫⢻⢱⣻⡿⢋⣻⣙⡿⣻⡏⡛⣽⢻⢽⢲⢣⠟⣼⣹⢎⣿⡧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢸⡇⣄⠻⡄⡜⢿⣼⣻⣿⣿⣿⣧⡄⣼⡇⣧⣟⡟⢀⡟⢧⣸⠀⣟⣿⡇⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⡷⢪⡑⢎⡜⠫⣬⠡⡙⠹⣏⢻⣩⢛⡽⣛⣟⣏⠶⣋⠶⣁⠳⣼⣿⠃⠀⠀⠀⣠⡴⢾⡟⡿⢿⡛⢏⡿⣟⠷⣦⣤⣄⡀⠀⠀⠀⠀⠀
⠀⠸⣣⢉⠶⣈⠇⢧⠱⠄⡱⢘⣗⡚⢬⢲⡱⢏⢮⡳⣍⠳⣍⢞⣿⡟⠀⠀⣴⠟⣫⢙⡮⡵⣙⢦⡟⣼⢞⡱⣏⣿⣻⣿⣿⣶⡀⡀⠀⠀
⠀⠀⢳⡘⢆⡣⢚⡐⢂⡑⠌⡖⣨⢑⢎⠲⣙⡎⢧⠳⣌⢟⡼⣿⡿⠀⢀⢎⠡⢞⣠⡙⡼⣑⢫⣎⣿⡹⣞⡿⣼⢿⣳⣯⣿⣿⣷⠐⠀⠀
⠀⠀⠀⢻⢨⣑⢣⡘⡄⠰⡘⠰⢡⠊⡄⢣⠳⣜⢣⠳⣸⢾⣿⡿⠁⠀⡎⠀⡗⣂⡛⣴⣽⡯⣰⣾⣿⣵⣿⡽⡝⣯⢷⣻⡾⣿⣿⣇⠂⠀
⠀⠀⠀⠀⠣⡜⢢⠑⠬⣑⠰⡁⢆⡑⡈⢦⠱⣌⡧⣋⣵⣿⡟⠀⠀⠀⢸⡌⡱⠘⣽⡟⣳⡗⢻⡟⣿⣾⣿⡷⣜⢯⣏⣷⢿⣽⣿⣿⠠⠀
⠀⠀⠀⠀⠀⠙⢦⡍⠒⣌⠢⢍⠲⡐⠌⢦⠓⡎⢴⣽⣿⠋⠀⠀⠀⢰⠸⠃⠄⢻⣾⣵⣿⣼⣽⣟⣿⡿⣿⣯⢛⡾⣼⢯⣯⢿⣿⣿⠄⠁
⠀⠀⠀⠀⠀⠀⠀⠙⠣⣌⠰⣉⢳⡈⡕⢮⣱⣾⡿⠟⠁⠀⠀⠀⠀⠈⡈⢞⡈⠼⡃⣏⠳⣬⣽⡯⣷⢿⡏⣯⢷⣹⣞⡿⣞⣿⣿⡿⠈⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢚⣿⠼⣿⣿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠠⠰⡔⡇⠄⡱⢠⢻⣿⢽⡹⣷⣻⢷⣮⢳⢷⣯⣿⣿⣿⣿⠇⠁⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⡿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡠⠘⡐⠠⢁⢲⡏⢆⠳⣥⣻⣟⡾⣯⣿⣾⣿⣿⣿⡏⠄⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡀⠓⠀⠂⡏⡜⢣⣛⠶⣟⣯⣿⣿⣿⣳⣿⣿⡟⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⢀⡤⢤⢰⠤⣤⣤⣀⠈⢈⠀⠀⠸⠌⡱⢎⣿⢯⣟⣿⣿⣽⣿⣿⠟⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣧⠀⠀⠀⠀⢀⡼⠡⡜⣌⠳⡈⡜⡻⢿⣷⣆⠑⢄⠀⡈⢴⣫⣿⢯⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⡰⢡⡇⡽⡠⣳⠗⡥⢹⢚⣻⣿⣧⠀⠈⠙⠲⠿⣿⣿⣿⣿⡟⠉⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⢠⣷⣯⣜⣤⡓⡯⣽⣧⣹⣆⠜⣿⣿⡆⠀⠀⢀⡼⣿⣽⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢾⠀⠀⠀⢸⣿⡿⡿⢹⠧⢳⡻⠟⡵⠃⣈⣿⣿⡏⠀⠠⠾⢼⣿⣿⣟⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⠀⠀⠀⠈⣿⣷⠘⢠⠂⡕⢲⢹⢰⡎⣼⣿⣿⡌⠀⠀⠀⠀⠀⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠇⠀⠀⠀⠹⣋⡦⢑⡨⡽⢇⡚⣶⣹⣿⣿⡏⠀⠀⠀⠀⠀⠀⢹⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠀⠀⠀⠀⠑⣮⠧⣱⢹⣣⠇⣷⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⣸⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠈⠻⣬⣳⣿⣼⣿⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⣻⣿⣿⣿⡅⠀⠀⠀⠀⠀⠀⠀⠀⢸⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣷⠀⠀⠀⠀⠀⠀⠀⠴⢿⣿⣿⣿⠷⠀⠀⠀⠀⠀⠀⠀⠀⠸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡘⠀⠀⠀⠀⠀⠀⠀⢸⣇⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⢘⡷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        </pre>
      </div>
    </div>
  }
} @else {
  <div class="px-4 py-6 text-sm text-slate-400">Loading playlist tracks…</div>
}
